.input:focus {
}

.input {
  width: 372px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
}

.inputWrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.superInput {
}

.errorInput {
  border-color: #cc1439;
}

.errorInput:focus {
}

.error {
  font-size: 10px;
  color: #cc1439;
}
